
.login-btn {
    font-family: Hack, monospace;
    background: #393a38;
    color: #a19999;
    cursor: pointer;
    font-size: 15px;
    padding: 10px;
    border: 0;
    transition: all 0.5s;
    border-radius: 5px;
    width: 150px;
    position: relative;
    min-width: 100px;

    


}